*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}


/* estilo do header */
header{
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;

}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    width: 200px;
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);
}   


/* Estilo do hero */

section.hero-site{
    height: 45vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    
}

.hero-site .interface{
    display: flex;
    align-self: center;
    height: 100%;
}

.hero-site .txt-hero h1{
    font-size: 3em;
    line-height: 300px;
    font-weight: 20px;

}
.hero-site .txt-hero h1 span{
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 250;
     

}

.hero-site .txt-hero p span{
    display: block;
}

main{
    background-color: #CAFAD9
}

section.mid {
    background-color: #F7F8F7
    
}



